@media (max-width: 767px) {
    .human-intro {
        display: flex;
        flex-direction: column;
    }
    
    .intro-2 {
        flex-direction: column-reverse;
    }

    .human-name {
        font-size: 60px;
    }

    .miaka-img {
        width: 30px;
        height: 300px;
        margin: 0 auto;
    }

    .kira-img {
        width: 330px;
        height: 410px;
        margin: 0 auto;
    }
    
    .title {
        margin-top: 22vh;
    }

    .movie-contents {
        flex-direction: column;
    }

    .c-2 {
        margin-top: 0px;
    }

    .section-title {
        font-size: 38px;
        margin-bottom: 100px;
    }
    
    .section-subtitle {
        font-size: 23px;
    }

    .section-title-area {
        text-align: center;
    }

    video {
        margin-bottom: 4vh;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {

    .human-intro {
        display: flex;
        flex-direction: column;
    }

    .intro-2 {
        flex-direction: column-reverse;
    }

    .miaka-img {
        width: 710px;
        height: 500px;
        margin: 0 auto;
    }

    .kira-img {
        margin: 0 auto;
    }


}

@media (min-width: 768px) {
    .title {
        font-size: 120px;
    }

    .sub-title {
        font-size: 60px;
    }
}
